html, body {
	font-family: "Yantramanav" !important;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

a {
	text-decoration: none !important;
}

.box:hover {
	transform: scale(1.03);
	transition-duration: 0.3s;
}