@import url('https://fonts.googleapis.com/css?family=Roboto')
	
html, body {
	font-family: "Roboto" !important;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

.box {
	padding: 1em;
	background-color: #ffffff;
	border-radius: 0.3em;
}

.box:hover {
	transform: scale(1.1);
	transition-duration: 0.3s;
	box-shadow: 0.5em 0.5em 1em #dddddd;
}

footer {
	background-color: #ffffff;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
